

<div class="container" style="width: 1230px;">



<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >



  <div class="panel-footer" style="  background-color: rgb(241, 165, 50); color: whitesmoke; text-align: center;">
    <mdb-icon fab icon="accusoft">ss</mdb-icon>
    <!-- <svg-icon src="images/eye.svg" [svgStyle]="{ 'width.px':90 }"></svg-icon> -->
    <address>
      <!-- <img src="apple_diet-512.ico"> -->
      <img src = "apple_diet-512.ico">
      <fa-icon [icon]="['fas', 'home']" size="1x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
      123,ABCD Building,Banglore,Karnataka, India<br>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <fa-icon [icon]="['fas', 'phone']" size="1x"
        [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
      044-1234567
      <fa-icon [icon]="['fas', 'envelope']" size="1x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
      onlineDietSystem@gmail.com
    </address>

    <p>Copyright © 2020 All rights reserved.</p>

  </div>

</div>
</div>

