<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


      <br><br><br>
      <h3 style="text-align: center; font-weight: bold;"><i>Reset Password</i></h3>
      <ng-container *ngIf="useridMod">

        <form (ngSubmit)="getUserid()" style="width: 200px; margin-left: 420px;
            margin-top: 30px;">


          <div class="button button3">


            <label for="">User ID</label>
            <br>
            <fa-icon [icon]="['fas', 'user-circle']" size="2x" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
            <input type="text" name="forgotUserid" [(ngModel)]="forgotUserid" class="buttonDrop button3" id="uid"
              placeholder="Enter Your User ID">
            <h5 style="color: red;"><i>6 digit code will be sent to registered Email Id</i></h5>
            <h3></h3>

          </div>



          <br><br>


          <button type="submit" class="myBtnBlue" style="margin-left: 90px;">Get Code</button>



        </form>


      </ng-container>



      <ng-container *ngIf="codeMod">


        <form (ngSubmit)="getCode()" style="width: 200px; margin-left: 420px;
    margin-top: 30px;">


          <div class="button button3">
            <label for="">Enter 6-Digit Code</label>
            <br>
            <!-- <fa-icon [icon]="['fas', 'user-circle']" size="2x" [styles]="{'stroke': 'red', 'color': 'red'}" ></fa-icon> -->
            <input type="text" name="code" [(ngModel)]="code" class="buttonDrop button3" id="code"
              placeholder="6-Digit Code">
            <h3></h3>

          </div>



          <br><br>


          <button type="submit" class="myBtnBlue" style="margin-left: 90px;">Reset</button>



        </form>

      </ng-container>


      <ng-container *ngIf="passMod">

        <form (ngSubmit)="changePass()">


          <div class="button button3">
            <label for="">New Password</label>

            <br>
            <input type="password" name="newPass" [(ngModel)]="newPass" class="buttonDrop button3" id="np"
              placeholder="New Password" required>
            <h6 style="font-size: small; color: red; font-style: italic;">*Password should be minimum 6 characters</h6>
          </div>
          <div class="button button3">
            <label for="">Confirm New Password</label>
            <br>
            <input type="password" name="conPass" [(ngModel)]="conPass" class="buttonDrop button3" id="cp"
              placeholder="Confirm Password" required>
            <h6 style="font-size: small; visibility: hidden;">*Password should be minimum 6 characters</h6>
          </div>

          <br>
          <br>
          <button type="submit" class="buttonSub button3" style="margin-left: 80px;">Change Password</button>
          <br><br><br><br><br><br><br>
        </form>

      </ng-container>



      <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>

  </div>
</div>
<app-footer></app-footer>
