<div class="container" style="background-color: blanchedalmond;">

  <div class="row">
    <app-user-header></app-user-header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">



      <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">
        <br>
        <button class="button button3" [routerLink]="['/user/post/create']" routerLinkActive="router-link-active"
          type="button" style="margin-left: 50px;">Create Post
          <fa-icon [icon]="['fas', 'pen']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
        </button>
        &nbsp;
        <button class="button button2" [routerLink]="['/user/post/view']" routerLinkActive="router-link-active"
          type="button">View Post
          <fa-icon [icon]="['fas', 'eye']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
        </button>
        &nbsp;
        <button class="button button2" [routerLink]="['/user/post/older']" routerLinkActive="router-link-active"
          type="button">Older Post
          <fa-icon [icon]="['fas', 'folder']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
        </button>
      </div>


      <br><br>


      <form (ngSubmit)="formSubmit(form)" #form="ngForm" style="margin-left: 50px;">


        <div class="form-group" class="button button3">
          <fa-icon [icon]="['fas', 'comments']" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}"> </fa-icon>
          <label for="">&nbsp; Write your post here</label>
          <textarea name="post" [(ngModel)]="post" id="post" class="form-control" rows="6" required="required"
            style="width: 490px;"></textarea>

        </div>
        <br>

        <div class="form-group" class="button button3">
          <fa-icon [icon]="['fas', 'users']" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}"></fa-icon> <label
            for=""> &nbsp; Select Audience</label>
          <br>
          <select name="aud" [(ngModel)]="aud" id="aud" class="buttonDrop button3" style="width: 250px;"
            required="required">
            <option [ngValue]="undefined" selected disabled>--Select Audience--</option>
            <option value="Everyone">Everyone</option>
            <option value="Admin">Program Admin Only</option>
            <option value="Motivators">Motivators Only</option>
          </select>

        </div>


        <br>



        <button type="submit" class="buttonSub button3">Post</button>

        <br><br> <br><br> <br><br> <br><br>
      </form>
      <br><br>

    </div>

  </div>

</div>
<app-footer></app-footer>
