<div class="container" style="background-color: blanchedalmond;">

  <div class="row">
    <app-user-header></app-user-header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <br>

      <div class="col-xs-15 col-sm-15 col-md-15 col-lg-15">

        <button [routerLink]="['/user/message/new']" routerLinkActive="router-link-active" type="button"
          class="button button3" style="margin-left: 50px;">New Message
          <fa-icon [icon]="['fas', 'plus-circle']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
        </button>
        &nbsp;
        <button [routerLink]="['/user/message/inbox']" routerLinkActive="router-link-active" type="button"
          class="button button2">View Inbox
          <fa-icon [icon]="['fas', 'eye']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
        </button>
        &nbsp;
        <button [routerLink]="['/user/message/outbox']" routerLinkActive="router-link-active" type="button"
          class="button button2">Sent Items
          <fa-icon [icon]="['fas', 'folder']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
        </button>

      </div>


      <br><br>

      <form (ngSubmit)="formSubmit()" #form="ngForm" style="margin-left: 50px;">


        <div class="form-group" class="button button3">
          <fa-icon [icon]="['fas', 'comment']" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}"> </fa-icon>
          <label for="">&nbsp;Write your message here</label>

          <textarea name="mesg" [(ngModel)]="mesg" id=" msg" class="form-control" rows="6" required="required"
            style="width: 490px;"></textarea>

        </div>
        <br>
        <div class="form-group" class="button button3">

          <fa-icon [icon]="['fas', 'user']" size="1x" [styles]="{'stroke': 'red', 'color': 'black'}"></fa-icon> <label
            for=""> &nbsp;Select Recepient</label>
          <br>
          <select name="rec" [(ngModel)]="rec" id="rec" class="buttonDrop button3" required="required"
            style="width: 250px;">
            <option [ngValue]="undefined" selected disabled>--Select Recepient--</option>
            <option value="Admin">Program Admin</option>
            <option [value]=m.motiid *ngFor="let m of moti">{{m.motiid}} - {{m.name}}</option>

          </select>


        </div>


        <br>

        <button type="submit" class="buttonSub button3">Send</button>
        <br><br><br><br>
      </form>
      <br><br><br>
    </div>

  </div>

</div>
<app-footer></app-footer>
