<div class="container" style="background-color: blanchedalmond;">

  <div class="row">
    <app-moti-header></app-moti-header>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">





      <ng-container *ngFor="let b of motiBatch let i=index ">
        <br>
        <!-- <h2>{{b.batchname}}</h2> -->
        <button type="button" (click)="callModal(b)" class="myBtnBlue" style="text-align: center; margin-left: 45%;">
          <fa-icon [icon]="['fas', 'users']" size="1x" [styles]="{'stroke': 'white', 'color': 'white'}"></fa-icon>
          <b> Batch - {{b.batchname}}</b>
        </button>
        <ul class="list-group">


        </ul>

        <table class="table table-hover" style="text-align: center;">
          <thead style="font-style: italic;">
            <tr style="text-align: center;">
              <th style="text-align: center;">User Id</th>
              <th style="text-align: center;">Name</th>
              <th style="text-align: center;">Age</th>
              <th style="text-align: center;">Email</th>
              <th style="text-align: center;">Batch</th>
              <th style="text-align: center;">Group</th>
              <th style="text-align: center;">BMI</th>
              <th style="text-align: center;">Monthly Report</th>
              <th style="text-align: center;">Profile</th>

            </tr>
          </thead>

          <tbody *ngFor="let u of user.reverse()" style="text-align: center;">
            <ng-container *ngIf="u.batch.batchname == motiBatch[i].batchname ">
              <tr>
                <td>{{u.userid}}</td>
                <td>{{u.name}}</td>
                <td>{{u.age}}</td>
                <td>{{u.email}}</td>
                <td>{{u.batch.batchname}}</td>
                <td>{{u.group.groupname}}</td>
                <td>{{u.bmi}}</td>
                <td>
                  <button [routerLink]="['/view/report',u.userid]" routerLinkActive="router-link-active" type="button"
                    class="myBtnOrange">Report
                    <fa-icon [icon]="['fas', 'list']" size="1x" [styles]="{'stroke': 'white', 'color': 'white'}">
                    </fa-icon>
                  </button>
                </td>
                <td>
                  <button [routerLink]="['/profile/user',u.userid]" routerLinkActive="router-link-active" type="button"
                    class="myBtnGreen">Profile
                    <fa-icon [icon]="['fas', 'user']" size="1x" [styles]="{'stroke': 'white', 'color': 'white'}">
                    </fa-icon>
                  </button>
                </td>

              </tr>
            </ng-container>
          </tbody>

        </table>

      </ng-container>


      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

      <div class="modal" id="modal-id" [ngClass]="{'show': mod}">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" (click)="mod = false" class="close" data-dismiss="modal"
                aria-hidden="true">&times;</button>
              <h4 class="modal-title" style="text-align: center;"><b>Batch Details</b></h4>
            </div>
            <div class="modal-body">

              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Batch Name</th>
                    <th>Batch Id</th>
                    <th>Description</th>
                    <th>Started On</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{iterBatch.batchname}}</td>
                    <td>{{iterBatch.batchid}}</td>
                    <td>{{iterBatch.batchdesc}}</td>
                    <td>{{iterBatch.strtdate}}</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="modal-footer">
              <button type="button" (click)="mod = false" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
          </div>
        </div>
      </div>




    </div>

  </div>

</div>
<app-footer></app-footer>
