<div class="container">

  <div class="row">


    <ng-container *ngIf="USER_TYPE === 'Admin'">
      <app-header></app-header>
    </ng-container>

    <ng-container *ngIf="USER_TYPE === 'Motivator'">
      <app-moti-header></app-moti-header>
    </ng-container>

    <ng-container *ngIf="USER_TYPE === 'User'">
      <app-user-header></app-user-header>
    </ng-container>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">




      <h3 style="text-align: center;margin-right: 22px;"><b><i>
            <fa-icon [icon]="['fas', 'key']" size="1x" [styles]="{'stroke': 'black', 'color': 'black'}"></fa-icon>
            Change Your Password
          </i></b></h3>
      <form (ngSubmit)="formSubmit()">

        <div class="button button3">
          <label for="">Old Password</label> <br>
          <input type="password" name="oldPass" [(ngModel)]="oldPass" class="buttonDrop button3" id="op"
            placeholder="Old Password" required>
          <h6 style="font-size: small; visibility: hidden;">*Password should be minimum 6 characters</h6>
        </div>
        <div class="button button3">
          <label for="">New Password</label>

          <br>
          <input type="password" name="newPass" [(ngModel)]="newPass" class="buttonDrop button3" id="np"
            placeholder="New Password" required>
          <h6 style="font-size: small; color: red; font-style: italic;">*Password should be minimum 6 characters</h6>
        </div>
        <div class="button button3">
          <label for="">Confirm New Password</label>
          <br>
          <input type="password" name="conPass" [(ngModel)]="conPass" class="buttonDrop button3" id="cp"
            placeholder="Confirm Password" required>
          <h6 style="font-size: small; visibility: hidden;">*Password should be minimum 6 characters</h6>
        </div>

        <br>
        <br>
        <button type="submit" class="buttonSub button3" style="margin-left: 80px;">Change Password</button>
        <br><br><br><br><br><br><br>
      </form>


    </div>

  </div>

</div>
<app-footer></app-footer>
