.container{
  background-color: blanchedalmond;
  background-image: url('https://images.pexels.com/photos/40751/running-runner-long-distance-fitness-40751.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.frm{
  color: red;
  font-size: small;
  font-style: italic;
  font-weight: bold;
}

.msg{
  font-weight: 600;
}

.sent{
  color: red;
  font-size: small;
  font-style: italic;
  font-weight: bold;
  text-align: right;
}
.button {
  /* background-color: #4CAF50; Green */
  background-color: blanchedalmond;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px 25px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
li:hover{
  font-weight: bolder;
  color: black;
  box-shadow: 0 32px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
