<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


      <br><br><br>


      <h3 style="color: black;text-align: center; font-weight: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-variant: small-caps;">Login Here</h3>
      <form (ngSubmit)="login()" style="width: 200px; margin-left: 420px;
      margin-top: 30px;">


        <div class="button button3">


          <!-- <label for="">User ID</label> -->
          <br>
          <fa-icon [icon]="['fas', 'user-circle']" size="2x" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
          <input type="text" name="username" [(ngModel)]="username" class="buttonDrop button3" id="uid"
            placeholder="User ID">
          <h3></h3>

        </div>

        <br>
        <div class="button button3">
          <!-- <label for="">Password</label> -->
          <br>
          <fa-icon [icon]="['fas', 'unlock']" size="2x" [styles]="{'stroke': 'red', 'color': 'red'}"></fa-icon>
          <input type="password" name="password" [(ngModel)]="password" class="buttonDrop button3" id="pass"
            placeholder="Password">
          <h3></h3>
        </div>

        <br>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <button type="submit" class="buttonSub button3" style="margin-left: -12px;">Login</button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <a [routerLink]="['/forgotPassword']" routerLinkActive="router-link-active">
            <h5 style="color: white;">Forgot Password ?</h5>
          </a>

        </div>



      </form>

      <button [routerLink]="['/register']" routerLinkActive="router-link-active" class="buttonBlue button3"
        style="margin-left: 424px;">Register</button>



      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>








    </div>

  </div>

</div>
<app-footer></app-footer>



<!-- <a mdbBtn floating="true" size="lg" gradient="purple"><mdb-icon fas icon="bolt"></mdb-icon></a>
<button type="button" mdbBtn color="info" rounded="true" size="lg">Button<mdb-icon fas icon="heart" class="ml-2" aria-hidden="true"></mdb-icon></button>
<button type="button" mdbBtn outline="true" color="default" rounded="true" class="waves-effect"><mdb-icon far icon="gem" class="mr-2"
    aria-hidden="true"></mdb-icon>Button</button>
<button type="button" mdbBtn color="indigo">Button<mdb-icon fas icon="thumbs-up" class="ml-2" aria-hidden="true"></mdb-icon></button>
<button type="button" mdbBtn outline="true" color="warning" size="sm" class="waves-effect"><mdb-icon fas icon="user" class="mr-2"
    aria-hidden="true"></mdb-icon>Button</button> -->
